:root {
  --accent-color: #f5a841;
}
section:not(:first-of-type) {
  text-align: center;
}

section:nth-child(2n) {
  background-color: #ecf2ff;
}
.container {
  padding: 4rem 2rem;
}

.navbar {
  background-color: #ffffff;
}

.navbar-brand {
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  color: 000000;
  font-size: 1.2rem;
  transition: all 200ms ease-in-out;
}
.navbar-nav .nav-link:hover {
  color: var(--accent-color);
  font-size: 1.2rem;
}
section.hero {
  background-color: #ecfeff;
  padding-top: 85px;
  text-align: justify;
}
section.hero img {
  width: 70%;
}

section.services i {
  background-color: var(--accent-color);
  font-size: 2rem;
  margin: 1rem auto 0;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.services .card {
  border: 1px solid #000000;
  box-shadow: 2px 4px rgb(168, 167, 167);
  max-width: 22rem;
  margin-inline: auto;
}

section.projects .card {
  max-width: 17rem;
  text-align: justify;
}

section.projects .card img {
  margin: 1rem auto;
}

.btn-outline-dark {
  box-shadow: 2px 4px rgb(168, 167, 167);
  transition: all 200ms ease-in-out;
}

.btn-outline-dark:hover {
  box-shadow: 4px 4px var(--accent-color);
}

section.testimonials .carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

section.testimonials .carousel-item p {
  max-width: 80%;
  border-left: 5px solid var(--accent-color);
  padding-left: 0.5rem;
}
section.testimonials .carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.testimonials .carousel.carousel-fade .carousel-item {
  transition: opacity 0.5s;
}

a {
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;
}
a:hover {
  color: var(--accent-color);
  transition: all 150ms ease-in;
}
@media (min-width: 1024px) {
  .navbar-nav .nav-item {
    padding: 0 1rem;
  }
  section.about .container,
  section.testimonials .container {
    max-width: 60%;
  }
}
@media (max-width: 576px) {
  section.hero {
    text-align: center;
    padding-top: 105px;
  }
  section.hero img {
    width: 50%;
  }
  .container {
    padding: 1rem 1rem;
    border: 1px solid black;
  }
}
